* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;

}

/*family font standardization*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*heading font size changed*/
.header h1 {
    display: inline-block;
    font-size: 4vw;

}

.header h1 .seo {
    color: #d9dcd6;
}

.header nav {
    padding: 20px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 1.5vw;
    display: inline;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}
#meeting-photo {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;

}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;

}

.main-content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*class standardization*/
.content-with-photo {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content-with-photo img {
    max-height: 100%;
    max-width: 100%;
    position: relative;

}

.content-with-photo h2 {
    margin-bottom: 20px;
    font-size: 3vw;

}

.content-with-photo p {
    font-size: 1.25vw;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*class standardization*/
.benefit-with-icon {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-with-icon h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 2vw;
}

.benefit-with-icon img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-with-icon p {
    font-size: 1vw;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}